.pagination li {
    color: var(--sl-color-teal-950);
    font-size: 1rem;
    padding: 0 .5rem;
    background-color: var(--sl-color-teal-50);
    border: solid 1px var(--sl-color-teal-100);
    border-radius: .3rem;
    user-select: none;
}

.pagination li.selected {
    background-color: var(--sl-color-teal-100);
}
