.rounded-solid {
    border: 1px solid var(--sl-color-neutral-300);
    border-radius: .375rem;
}

.discoverable:hover {
    min-width: max-content;
    position: relative;
}

.bg-neutral-0 {
    background-color: var(--sl-color-neutral-0);
}
