.w-screen {
    width: 100vw;
}

.h-screen {
    height: 100vh;
}

.w-full {
    width: 100%;
}

.w-max {
    width: max-content;
}

.h-full {
    height: 100%;
}

.flex {
    display: flex
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-initial {
    flex: initial;
}

.flex-1 {
    flex: 1;
}

.min-h-0 {
    min-height: 0;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.sticky {
    position: sticky;
}

.top-0 {
    top: 0;
}

.bg-neutral {
    background-color: var(--sl-color-neutral-0);
}

.p-4 {
    padding: 1rem
}
