.pagination {
    user-select: none;
}

.pagination li {
    height: 2.2rem;
    min-width: 2.2rem;
}

.pagination a {
    color: var(--sl-color-neutral-1000);
    font-size: .9rem;
    border-radius: 50%;
    text-decoration: none;
}

.pagination a:hover {
    background-color: var(--sl-color-gray-100);
}

.pagination a.selected {
    color: var(--sl-color-neutral-0);
    background-color: var(--sl-color-teal-900);
}

.pagination a.selected:hover {
    background-color: var(--sl-color-teal-950);
}
