.pagination li {
    height: 2.2rem;
    min-width: 2.2rem;
}

.pagination a {
    color: var(--sl-color-neutral-1000);
}

.pagination a:hover {
    background-color: var(--sl-color-neutral-100);
}

.pagination .selected {
    color: var(--sl-color-neutral-0);
    background-color: var(--sl-color-teal-900);
}
