*, *::before, *::after {
    box-sizing: border-box;
}

body, ul {
    font-family: var(--sl-font-sans);
    margin: 0;
    padding: 0;
    line-height: var(--sl-line-height-dense);
}

table {
    border-spacing: 0;
}
