<!--/*@thymesVar id="model" type="io.nuevedejun.htmxtest.model.ModelData"*/-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{head::wrap(~{::title},~{::body})}" lang="en">
<head>
  <title>operations</title>
</head>
<body>
<div id="operation-explorer" class="w-full h-full p-4">
  <div class="w-full h-full flex flex-col rounded border border-neutral-300 overflow-hidden relative">
    <div class="flex-1 min-h-0 overflow-auto border-b border-b-neutral-300">
      <table class="text-left">
        <thead class="sticky top-0 bg-white">
        <tr class="[&>th>div]:p-3">
          <th>
            <div>Date</div>
          </th>
          <th>
            <div>Account</div>
          </th>
          <th>
            <div>Category</div>
          </th>
          <th>
            <div>Note</div>
          </th>
          <th class="text-right">
            <div>Amount</div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="operation : ${model.userData.operations}"
            class="[&>td]:border-t [&>td]:border-t-neutral-300 [&>td>div]:p-3 [&>td>div]:bg-white">
          <td>
            <div class="w-max inline-block">
              <sl-format-date
                  th:date="${#temporals.formatISO(operation.date)}"
                  year="numeric" month="2-digit" day="2-digit"
                  hour="2-digit" minute="2-digit">
              </sl-format-date>
            </div>
          </td>
          <td class="max-w-[10rem]">
            <div th:text="${operation.account}"
                 class="whitespace-nowrap overflow-hidden text-ellipsis
                        hover:min-w-max hover:relative hover:rounded-full hover:bg-white/90"></div>
          </td>
          <td class="max-w-[12.5rem]">
            <div th:text="${operation.category}"
                 class="whitespace-nowrap overflow-hidden text-ellipsis
                        hover:min-w-max hover:relative hover:rounded-full hover:bg-white/90"></div>
          </td>
          <td class="min-w-[16rem]">
            <div th:text="${operation.note}">Payment at MASXMENOS</div>
          </td>
          <td class="text-right">
            <div class="w-max inline-block">
              <intl-number-format
                  th:value="${operation.amount}"
                  options='{"style":"currency","currency":"COP"}'>
              </intl-number-format>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <th:block th:if="${#lists.isEmpty(model.userData.operations)}">
        <div class="w-full h-full p-3 text-5xl text-neutral-200 font-black
                    flex items-center justify-center select-none">
          Empty
        </div>
      </th:block>
    </div>
    <div class="flex-initial flex flex-row justify-between select-none items-baseline py-1 pl-1 pr-3">
      <ul hx-boost="true"
          hx-target="#operation-explorer"
          hx-select="#operation-explorer"
          hx-indicator="#operation-explorer"
          hx-swap="outerHTML"
          hx-sync="this">
        <li th:each="pageItem : ${model.userData.pagination}"
            class="inline-block h-[2.25rem] min-w-[2.25rem] text-sm">
          <div th:if="${pageItem.selected}" th:text="${pageItem.number}"
               class="flex w-full h-full items-center justify-center rounded-full text-white bg-teal-900"></div>
          <div th:if="${pageItem.blank}" class="flex w-full h-full items-center justify-center">&#8230;</div>
          <a th:unless="${pageItem.blank || pageItem.selected}" th:text="${pageItem.number}"
             th:href="@{/app(page=${pageItem.number})}"
             class="flex w-full h-full items-center justify-center rounded-full hover:bg-neutral-100">1</a>
        </li>
      </ul>
      <div class="text-sm">
        <label>
          Results per page:
          <select name="size" class="text-right bg-white/0 cursor-pointer"
                  th:hx-get="@{/app}"
                  hx-target="#operation-explorer"
                  hx-select="#operation-explorer"
                  hx-swap="outerHTML"
                  hx-push-url="true">
            <option th:each="size : ${model.pageSizes}"
                    th:value="${size}" th:text="${size}"
                    th:selected="${size == model.userData.size}">20
            </option>
          </select>
        </label>
      </div>
    </div>
    <div class="htmx-indicator absolute top-0 left-0 w-full h-full bg-white/50 flex items-center justify-center">
      <sl-spinner style="font-size: 3rem; --track-width: .6rem"></sl-spinner>
    </div>
  </div>
</div>
</body>
</html>
