<div xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="grid">
    <table class="pure-table">
      <thead>
      <tr>
        <th>Date</th>
        <th>Account</th>
        <th>Category</th>
        <th>Note</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr th:replace="~{transactions::list}">Here goes the transaction list.</tr>
      </tbody>
    </table>
    <div th:replace="~{transactions::pagination}"></div>
  </div>

  <table>
    <tbody th:fragment="list" th:remove="tag">
    <tr th:each="transaction : ${userData.transactions}">
      <td>
        <sl-format-date th:date="${#temporals.formatISO(transaction.date)}"
                        year="numeric" month="2-digit" day="2-digit"
                        hour="2-digit" minute="2-digit"></sl-format-date>
      </td>
      <td th:text="${transaction.account}">Savings</td>
      <td th:text="${transaction.category}">Groceries</td>
      <td th:text="${transaction.note}">Payment at MASXMENOS</td>
      <td>
        <sl-format-number th:value="${transaction.amount}"
                          type="currency" currency="COP" lang="es-CO"></sl-format-number>
      </td>
    </tr>
    </tbody>
  </table>

  <ul th:fragment="pagination">
    <li th:each="pageItem : ${userData.pagination}" th:text="${pageItem.blank ? '&#8230;' : pageItem.number}"
        th:classappend="${pageItem.selected} ? 'selected'"></li>
  </ul>
</div>
